main  {
  .page-title {
    border: none;

    h1 {
      color: $wwuOceanBlue;
      text-transform: uppercase;
      display: block;
      line-height: 1.9em;
      color: $wwuLtblue;
      font-weight: 100;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      border:none;
      margin-top: 0;
    }

    h1::after{
      content:" ";
      height: 5px;
      display: block;
      border-bottom: solid $wwuLightGreen 3px;
      width: 90%;
      margin:0 5% 0 5%;
      @include breakpoint($display-large){
        width: 20%;
        margin-left: 40%;
      }
    }
  }

  h3 {
    line-height: 1.5em;
  }
}

.pane-title{
  text-align: left;
  display: inline-flex;
  border-bottom: solid $wwuLightGreen 3px;
  padding: 0 0 0.4em 0;
  text-transform: uppercase;
}

.intro {
  width: 100%;
  text-align: center;

  .pane-title {
    display: block;
    line-height: 1.9em;
    color: $wwuLtblue;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border:none;
    margin-top: 0;

    &::after{
      content:" ";

      height: 5px;
      display: block;
      border-bottom: solid $wwuLightGreen 3px;
      width: 90%;
      margin:0 5% 0 5%;
      @include breakpoint($display-large){
        width: 20%;
        margin-left: 40%;
      }
    }
  }

  p{
    padding: 0 10% 15px 10%;
    em{
      font-style: italic;
      font-size: 1.2em;
    }
  }
}

.contact-information {
  background: $wwuLtGray;
  font-size: 0.8em;
  padding: 1em;
  margin-top: 25px;

  .pane-title {
    color:black;
    font-weight: 100;
    margin:0;
    padding: 0.5em 0;
    font-size: 1.5em;
    border: none;
  }
  ul {
    padding: 1em 0 1em 0;
    border-top: 2px solid white;
    list-style: none;
  }

  a {
    color:black;
    text-decoration: underline;
    width: 100%;
    @include link-hover($wwu-light-blue);
  }
}

// Add extra padding to main content area
main {
  padding: 25px;
}

//Container for Science Daily and Computer Weekly sections
section.clean-cs.cs-homepage-bottom-left-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include breakpoint($display-medium){
    flex-direction: row;
  }
}

//program-links
#block-custom-3 {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top:20px;

  @include breakpoint($display-medium){
    flex-direction: row;
  }

  a {
    text-transform: uppercase;
  }

  p {
    padding: 0 10px 30px 10px;
    margin: 30px 5px 10px 5px;
    background: $wwuLightestGrey;
    display: inline-block;
    //min-width: 253px;

    //Gives blue background for every other program block
    &:nth-child(1),
    &:nth-child(3){
      background: $wwuLightestBlue;
    }

    //Following 4 rules add program icons
    &:nth-child(1){
      &::before{
        @include better-top-icon('Ecommerce');
      }
    }

    &:nth-child(2){
      &::before{
        @include better-top-icon('WebContentDev');
      }
    }

    &:nth-child(3){
      &::before{
        @include better-top-icon('Programmer');
      }
    }

    &:nth-child(4){
      &::before{
        @include better-top-icon('CyberSecurity');
      }
    }

    //Adds arrow icon below program description
    &::after{
      @include icon-general;
    }

    @include breakpoint($display-medium){
      margin: 0 5px 0 5px;
      width: 25%;
    }

    a {
      width: 70%;
      padding:0 15% 0 15%;
      float: left;
      clear: both;

      font-family:'Open Sans', sans-serif;
      font-weight:400;
      color:$wwuBlue;
      font-size: 1.4em;
      padding-bottom: 0.3em;

      font-weight: 100;
      word-wrap: break-word;
      position: relative;
      top: -5px;

    }
  }
}

.curriculum-info {
  background:$wwuDkGray;
  font-family: 'Open Sans', sans-serif;

  text-align: center;
  color: white;
  padding: 1em 1em 0.1em 1em;

  @include breakpoint($display-medium){
    border-bottom: 8px solid $wwuLtGray;
  }


  @include breakpoint($display-large){
    padding: 2em 10em 2em 10em;
    margin: 0 -15px 0 -15px;
  }

  a{
    text-decoration: underline;
    color: white;

    @include link-hover($wwuLightestBlue);
  }
}

.core-courses{
  a{
    background: lighten($wwuLightGreen, 20%);
    color: $wwuBlue;
    padding:0.5em;
    display: inline-block;
    min-width: 75px;
  }

  p{
    em{
      color: darken($wwuDkGray, 10%);
      font-family: serif;
    }
    &:nth-child(2), &:last-child {
      text-align: center;
      @include breakpoint($display-medium){
        text-align: left;
      }
    }
  }
}

.cs-homepage-bottom {
  float: left;
  ul{
    margin:1em 0 0 0;
  }
  .science-daily,
  .computer-weekly{
    margin-right: 3%;
    @include breakpoint($display-large){
      width: 50%;
    }
  }
}
