//Mixins for addition of svg icons

//Base styles
@mixin icon($icon-name:Arrow){
  content: ' ';
  display: block;
  background-image: url('../images/Icon-#{$icon-name}.svg');
  background-repeat: no-repeat;
  background-position: 50% 85%;
  height: 50px;
}

//Small icon
@mixin icon-general($icon-name:Arrow){
  @include icon;
  background-size: 1em;
}

//Creates home page icons for individual programs
@mixin better-top-icon($icon-name:Arrow){
  @include icon($icon-name);
  position: relative;
  top:-27px;
  background-color: white;
  border-top: solid $wwuLightGreen 3px;
  min-width: 55px;
  margin: 0 40% 0 40% ;

  @include breakpoint($display-medium){
    margin: 0 30% 0 30%;
  }

  @include breakpoint($display-large){
    margin: 0 37.5% 0 37.5%;
    min-width: 25%;
    max-width: 66px;
    background-size: 3.5em;
  }
}
