
/* *******************
   Color Variables
******************* */

@import "compass";

$wwuBlue: #003f87; // Passes color contrast checker for text on white background.
$wwuLtblue: #0083d6; // Fails color contrast checker for text on white background. Use $wwuOceanBlue instead for text.
$wwuRed: #cc2d30; // Passes color contrast checker for text on white background.
$wwuYellow: #ffc61e; // Fails color contrast checker for text on white background.
$wwuLime: #bad80a; // Fails color contrast checker for text on white background.
$wwuGreen: #006b3f; // Passes color contrast checker for text on white background.

$wwuGrayBlue: #4B689C; // Passes color contrast checker for text on white background.
$wwuOceanBlue: #0070b6; // Passes color contrast checker for text on white background.
$wwuPaleBlue: #cce6f7; // Fails color contrast checker for text on white background.
$wwuLtGray: #E9E9E9;
$wwuDkGray: #666666;
$wwu-light-blue-lighter: desaturate(lighten($wwu-light-blue, 35), 30);
$wwuLightestBlue: #E0F0FB;
$wwuLightestGrey: #E3E3E3;
$wwuLightGreen: #c8e03b;
